---
    import '../../styles/global.css';
	import Navbar from '../../components/layouts/Navbar.astro'

---



<div>
    <Navbar/>
    <div class="pt-16 ">
        <slot>No slot</slot>
    </div>
</div>