---
    import { AiOutlinePlus } from 'react-icons/ai';
---

<div class="fixed w-full bg-white shadow-md">
    <div class="container flex-center justify-between">
        <div class="w-24">
            <img src="./logo.png" alt="">
        </div>
        <div>
            <div>
                <AiOutlinePlus/>
            </div>
            <div class="relative inline-block text-left">
                <div class="h-12 w-12 aspect-square rounded-full bg-gray-500 overflow-hidden mb-[-5px]">
                    <img
                        class="h-full w-full object-cover"
                        src="https://cdn-icons-png.flaticon.com/512/168/168719.png"
                        alt=""
                    />
                </div>
            </div>
        </div>
    </div>
</div>